.c-btn {

    width: 197px;
    
    display: flex;
    background-color: $btn-color;
    opacity: 1;
    padding: 20px;
   align-items: center;
   padding-left: 20px;

    a {
        width: 147px;
        text-decoration: none;
        letter-spacing: 0.5px;
        color: #0A0D13;
        opacity: 1;
        position: relative;
        font-family: $font-muli;

    }

    a::after {
        
        content: url('../img/navigator.png');
        position: absolute;
        background: #E89400;
        opacity: 1;
        padding: 13px;
        margin-left: 65px;
        margin-top: -19px; 
    }

    &--view{
        width: 235px;
        margin: 0 auto;
        background-color: $btn-color;
        padding: 16px;
        text-align: center;
        font-family: 'Lato',sans-serif;
    
        a::after{
            content: url('../img/Page-2.png');
                position: absolute;
                background: #E89400;
                opacity: 1;
                padding: 14px;
                margin-left: 30px;
                margin-top: -16px;
        }
    }
    
}