.c-title {
    width: 728px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;

    h2 {
        font-family: $font-play;
        letter-spacing: 1.31px;
        color: $color-white;
        opacity: 1;
        font-size: 42px;
        font-weight: 700;
        height: 56px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    p {
       
        height: 20px;
        font-family: $font-muli;
        letter-spacing: 0.5px;
        color: $color-white;
        opacity: 1;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 41px;
        align-items: center;
        margin: 0 auto;
    }
}